@media only screen and (max-width:500px){
    


    .about{
       
font-size: medium;
align-content: center;
    
    
       }
    
}


.about{
       
  

    align-content: center;


   }

   .try{
      font-size: 1em;
   }
