/* .... */ 

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');



nav{
    z-index: 2;
}

nav a.nav-link{
   
    font-weight: 500;
    letter-spacing:0.0375rem;
    cursor : pointer;
}
nav ul li {
    text-transform: uppercase;

}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem ;

    color : var(--primary_white) !important;
    border-top: 0.1875rem solid var(--primary_dark) ;

}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border-top: 0.1875rem solid var(--primary_orange) ;
}

.navbar-nav > li > a.active:hover {
    border-top: 0.1875rem solid var(--primary_orange) ;
}


.main-info h1 {

    color:var(--primary_white);
    text-transform: uppercase;
}


/* Typed text */

.typed-text{
    font-size:2rem;
    color:var(--primary_white);
}


.tsparticles-canvas-el{
    position:absolute;
    height: 100vh;
    width:100vw;
    z-index: 1;
    
}